// Add this to your gitignore to exclude Unity-specific folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.DS_Store
*.csproj
*.sln
*.sublime-workspace
.gradle/
local.properties
*.unitypackage
.vscode/
.idea/
*.swp
*.swo
*~
.env
.DS_Store
